<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CaptchaCheckServlet</servlet-name>
        <servlet-class>com.servlet.tools.CaptchaCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.servlet.login.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExitLoginServlet</servlet-name>
        <servlet-class>com.servlet.login.ExitLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailInfoServlet</servlet-name>
        <servlet-class>com.servlet.detailinfo.DetailInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInfoServlet</servlet-name>
        <servlet-class>com.servlet.studentinfo.StudentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StdLoginServlet</servlet-name>
        <servlet-class>com.servlet.login.StdLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlet.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.servlet.student.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdministratorServlet</servlet-name>
        <servlet-class>com.servlet.administrator.AddAdministratorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddActivityServlet</servlet-name>
        <servlet-class>com.servlet.activity.AddActivityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaptchaCheckServlet</servlet-name>
        <url-pattern>/CaptchaCheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExitLoginServlet</servlet-name>
        <url-pattern>/ExitLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailInfoServlet</servlet-name>
        <url-pattern>/DetailInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInfoServlet</servlet-name>
        <url-pattern>/StudentInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StdLoginServlet</servlet-name>
        <url-pattern>/StdLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdministratorServlet</servlet-name>
        <url-pattern>/AddAdministratorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddActivityServlet</servlet-name>
        <url-pattern>/AddActivityServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Kaptcha</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
        <!--
			For a complete list of Init Parameters, please see:
			http://code.google.com/p/kaptcha/wiki/ConfigParameters
		-->
        <init-param>
            <param-name>kaptcha.border</param-name>
            <param-value>no</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.textproducer.font.color</param-name>
            <param-value>black</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.textproducer.char.space</param-name>
            <param-value>5</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Kaptcha</servlet-name>
        <url-pattern>/Kaptcha.jpg</url-pattern>
    </servlet-mapping>
</web-app>
